form{
    width: min-content;
    display: flex;
    flex-direction: column;
}

p{
    margin: 0;
    padding: 0;

    margin-bottom: 15px;
}

header{
    display: flex;
    height: 100px;
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin-left: 15px;
    font-weight: bold;
    color: aliceblue;
}

.admin_sections{
    font-size: 30px;
    display: flex;
    height:inherit;
    flex-direction: row;
    background-color: aquamarine;
}

.delimeter{
    height: inherit;
    width: 3px;
    background-color: rgb(64, 107, 109);
}

.admin_section{
    background-color: cadetblue;
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.admin_section:hover{
    background-color: rgb(82, 136, 138);
    color: rgba(255, 255, 255, 0.7)
}

iframe{
    height:1500px;
    width: 100%;
    border: 0;
}