<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/admin_styles.css">
        <!-- <link rel="stylesheet" href="http://127.0.0.1:5500/static/css/admin_styles.css"> -->
        <script src="http://127.0.0.1:5000/static/scripts/script.js"></script>
    </head>

    <body>
        <header>
            <h1>ПАНЕЛЬ АДМИНИСТРАТОРА</h1>
            <div class="admin_sections">
                <div class="delimeter"></div>
                <a href="http://127.0.0.1:5000/add-new-product" target="iframe" class="admin_section">
                    ДОБАВЛЕНИЕ ТОВАРОВ
                </a>
                <div class="delimeter"></div>
                <a href="edit_products.html" target="iframe" class="admin_section">
                    УПРАВЛЕНИЕ ТОВАРАМИ
                </a>
                <div class="delimeter"></div>
                <a href="orders.html" target="iframe" class="admin_section">
                    ЗАКАЗЫ
                </a>
                <div class="delimeter"></div>
            </div>
        </header>

        <main>
            <iframe src="http://127.0.0.1:5000/add-new-product" name="iframe"></iframe>
        </main>
    </body>
</html>